# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Secrets
neondb_keys.json

# Optional local env files
.env
# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Secrets
neondb_keys.json
neondb_keys.json.example

# Optional local env files
.env

# examples files
examples/

# notebooks folder
notebooks/
# local test scripts
tests/
scripts/